#root {
  margin: 0 auto;
  --color-primary: #393D7E;
  --color-secondary: #5459AC;
  --color-nav: #212334;
  --color-accent: #7fefe4;
  --color-pink: #F2AEBB;
  --color-white: #FFF;
}

body {
  font-family: 'Fira Code', monospace;
}

html {
  scroll-behavior: smooth;
}