#About {
    background-color: #FFF;
    padding: 4rem;
    text-align: center;
}

.About_content {
    max-width: 750px;
    margin: 1rem auto 0;
    text-align: center;
}

.About_content img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.About_content p {
    margin: 1.5rem auto;
    line-height: 1.7;
}

.About_text_1 {
    max-width: 650px;
}

.About_text_2 {
    max-width: 550px;
}
