.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
}

.btn-primary {
    background-color: #F2AEBB;
    color: #FFF;
    border: 1px solid #FFF;
}

.btn-primary:hover {
    background-color: #FFF;
    color: #F2AEBB;
}

.btn-secondary {
    background-color: #FFF;
    color: #F2AEBB;
    border: 1px solid #F2AEBB;
}

.btn-secondary:hover {
    background-color: #F2AEBB;
    color: #FFF;
}