#Career {
    padding: 4rem;
    background-color: #393D7E;
    color: #6DC3BB;
    text-align: center;

    h2 {
        margin-bottom: 4rem;
    }
}

.Career_timeline {
    position: relative;
    height: 200px;
    width: 100%;
}

.Career_item {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    background: #5459AC;
    color: #F2AEBB;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    white-space: nowrap;
}