header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #393D7E;
    color: #FFFFFF;

}

#initial {
    justify-self: start;
}

nav {
    justify-self: center;
    display: flex;
    gap: 2rem;
    background-color: #393D7E;
    border-radius: 25px;
    position: fixed;
    

    a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 0.5rem 1.5rem;
        border-radius: 25px;
        transition: background 0.2s ease;
    }

    a:hover {
        background-color: #5459AC;
    }
}