header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

#initial {
    justify-self: start;
}

nav {
    justify-self: center;
    display: flex;
    gap: 2rem;
    background-color: var(--color-nav);
    border-radius: 25px;
    position: fixed;
    z-index: 1;
    

    a {
        text-decoration: none;
        color: var(--color-white);
        padding: 0.5rem 1.5rem;
        border-radius: 25px;
        transition: background 0.2s ease;
    }

    a:hover {
        background-color: var(--color-secondary);
    }
}