#Landing {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.intro {
    font-size: 2rem;
}

.passion {
    color: var(--color-white);
}