#Projects {
    background-color: var(--color-white);
    text-align: center;

    .github-link:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-accent);
        text-decoration-thickness: 2px;
    }
}

.github-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-accent);
}

.wheel-wrapper {
    position: relative;
}

.wheel {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 1rem 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    align-items: flex-start;
    text-align: left;
}

.repo-link {
    margin-top: auto;
    width: 80%;
    align-self: center;
    background-color: #f2d1fc;
    padding: 0.75rem 1rem;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
}

.repo-link:hover {
    opacity: 0.8;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.arrow.forward {
    right: 10px;
}

.arrow-symbol {
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    .project-card {
        flex: 0 0 40%;
    }
}

@media (min-width: 768px) {
  .arrow {
    display: flex;
  }
}